:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme = "dark"] {
  --bg-color: #001628;
  --text-color: #ffffff;
  --anchor: #3ff7f7;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}
body {
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80ch;
    margin: 0 auto;
}

.header {
  margin-top: 5em;
}

.main {
  flex-grow: 1;
}

.title {
  font-size: 3em;
}

.writeup {
  line-height: 2;
  font-size: 2em;
  margin: 3em 0;
}

/* Cards styles */
.cards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: auto;
}

.card {
  background-color: #041b27;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.card .card-header {
  font-size: 1.75em;
  font-weight: 500;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg 95% 50%);
  /* opacity: 0.7; */
}

.card .card-body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  line-height: 2;
}

.social {
  word-spacing: 1ch;
}


.footer {
  min-height: 5em;
  margin-top: 2em;
}

/*** Elements ***/
a {
  color: var(--anchor, -webkit-link);
}

/*** Helper classes ***/
.centered {
  text-align: center;
}

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.margin-tb-1x {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-t-1x {
  margin-top: 1em;
}

.margin-b-1x {
  margin-bottom: 1em;
}

.padding-lr-1x {
  padding-left: 1em;
  padding-right: 1em;
}

/*** Media Queries ***/
@media screen and (max-width: 550px) {
  .title {
    font-size: 2em;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 1.8em;
  }
}
